* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: black;
    background-position: center;
    background-size: cover;
    padding: 0 8%;
}
.logo{
    width: 100px;
    padding: 20px 0;
    cursor: pointer;
}
.content{
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    color: #fff;
}
.content h1{
    font-size: 64px;
    font-weight: 600;
}
.content h1 span{
    color: #ff47ff;
}
.content button{
    background: transparent;
    border: 2px solid #fff;
    font-size: 18px;
    outline: none;
    padding: 12px 25px;
    color: #fff;
    display: flex;
    align-items: center;
    margin-top: 30px;
    border-radius:30px;
    cursor: pointer;
}
.content button img{
    width: 35px;
    margin-left: 10px;
}
button:hover {
    background-color: #980298a8;
}
.launch-time{
    display: flex;
}
.launch-time div{
    flex-basis: 100px;
}
.launch-time div p{
    font-size: 60px;
    margin-bottom: -14px
}
.earth{
    width: 230px;
    position: absolute;
    right: 5%;
    bottom: 0%;
    animation: earth 7s linear infinite;
}

@keyframes earth{
    0%{
        bottom: -5;
        opacity: 0.1;
    }
    100%{
        bottom: 105%;
        opacity: 1;
    }
}